env/*
venv/*
venv3/*
envp38/*
env_vkbot/*
__pycache__/*
*.pyc
logs/*
pjproject-2.6.tar.bz2
.idea/*
pjproject-2.6/*
rec_interceptor/env/*
rec_interceptor/venv/*
rec_interceptor/.idea/*
dialogue_handler_rest/env/*
dialogue_handler_rest/.idea/*
bot_sip_client/env/*
bot_sip_client/venv/*
bot_sip_client/.idea/*
bot_manager/env/*
bot_manager/.idea/*
phone_model_scripts/env/*
phone_model_scripts/.idea/*
vk_message_getter/.idea/*
vk_message_sender/.idea/*
SYNTHESIZED/*

phone_model_scripts/asterisk/logs/*
BOT_COMM/*